@font-face {
    font-family: 'source-font';
    src: url(assets/fonts/SourceCodePro-SemiBold.ttf);
}

body {
    margin: 0;
    height: 100vh;
    background-image: url(assets/gradient-4k_a25lZm2UmZqaraWkpJRpZ2lorWdobWw-2546168132.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(240, 240, 240);
    font-family: 'source-font';
}

#form-container {
    width: 320px;
    background-color: rgb(2, 0, 15);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, .5);
    padding: 20px 0;
}

form {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

form label {
    font-family: 'source-font';
    margin-top: 10px;
}

input {
    padding: 0 10px;
    height: 2rem;
    margin: 10px 0;
    border-radius: 8px;
    border: 3px solid black;
    margin-right: 5px;
    font-family: 'source-font';
}

.toggle-eye {
    cursor: pointer;
}

#submit-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#submit {
    height: 2.5rem;
    width: 200px;
    font-size: 1rem;
    font-family: 'source-font';
    background-color: rgb(46, 100, 201);
    color: white;
    margin : 20px;
    margin-top: 30px;
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover {
    background-color: rgba(46, 100, 201, 0.822)
}

.invalid {
    border: 3px solid red;
}

.valid {
    border: 3px solid green;
}

.password-container {
    width: 100%;
}

.password-container input {
    width: 75%;
}

@media (max-width: 500px) {
    #form-container {
        scale: .8;
    }
}